{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["Chrome 58"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "graphql-tag",
    "ramda",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
}
